<section data-ng-controller="ChartsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Charts</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="chart in charts" data-ng-href="#!/charts/{{chart._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="chart.created | date:'medium'"></span>
				by
				<span data-ng-bind="chart.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="chart.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!charts.$resolved || charts.length">
    	No Charts yet, why don't you <a href="/#!/charts/create">create one</a>?
    </div>
</section>